In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
df = pd.read_excel('kpmg_raw.xlsx', sheet_name="CustomerDemographic")
df.columns = df.iloc[0]
df = df.iloc[1:]
del df['default']
df.insert(6,column='age',value=np.nan)
df.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,age,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,NaN,Executive Secretary,Health,Mass Customer,N,Yes,11
2,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,NaN,Administrative Officer,Financial Services,Mass Customer,N,Yes,16
3,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,NaN,Recruiting Manager,Property,Mass Customer,N,Yes,15
4,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,NaN,IT,Mass Customer,N,No,7
5,5,Sheila-kathryn,Calton,Female,56,1977-05-13 00:00:00,NaN,Senior Editor,NaN,Affluent Customer,N,Yes,8

In [3]:
df.isnull().sum()

0
customer_id                               0
first_name                                0
last_name                               125
gender                                    0
past_3_years_bike_related_purchases       0
DOB                                      87
age                                    4000
job_title                               506
job_industry_category                   656
wealth_segment                            0
deceased_indicator                        0
owns_car                                  0
tenure                                   87
dtype: int64

In [4]:
print(df['job_title'].value_counts())
print(df['job_industry_category'].value_counts())

Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Legal Assistant                         41
                                        ..
Database Administrator II                4
Health Coach I                           3
Research Assistant III                   3
Health Coach III                         3
Developer I                              1
Name: job_title, Length: 195, dtype: int64
Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [5]:
import datetime
for i in df.index:
    if pd.isna(df['DOB'].iloc[i-1]):
        continue
    elif type(df['DOB'].iloc[i-1]) == str:
        df['age'].iloc[i-1] = 2020 - int(df['DOB'].iloc[i-1][:4])
    else:
        df['age'].iloc[i-1] = 2020 - df['DOB'].iloc[i-1].year
    if df['age'].iloc[i-1] >= 100:
        print(df.iloc[i-1])

D:\Programs\conda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

0
customer_id                                           34
first_name                                      Jephthah
last_name                                       Bachmann
gender                                                 U
past_3_years_bike_related_purchases                   59
DOB                                           1843-12-21
age                                                  177
job_title                                Legal Assistant
job_industry_category                                 IT
wealth_segment                         Affluent Customer
deceased_indicator                                     N
owns_car                                              No
tenure                                                20
Name: 34, dtype: object

0
customer_id                                           34
first_name                                      Jephthah
last_name                                       Bachmann
gender                                                 U
past_3_years_bike_related_purchases                   59
DOB                                           1843-12-21
age                                                  177
job_title                                Legal Assistant
job_industry_category                                 IT
wealth_segment                         Affluent Customer
deceased_indicator                                     N
owns_car                                              No
tenure                                                20
Name: 34, dtype: object